body {
    min-height: 200%;
    font-family: 'Source Sans Pro' !important;
    font-weight: 100 !important;
}
.intro {
    position: relative;
    height: 100vh;
    width: 100vw;
}
#body {
    max-height: 100vh;
    width: 100%;
    position: relative;
}
.billboard {
    height: 100vh;
    width: 100vw;
}
.about {
    margin-top: 100px;
}
.intro .links {
    position: absolute;
    padding-bottom: 1em;
    padding-right: 2em;
    bottom: 0;
    right: 0;
}
.intro .background {
    top: 0;
    left: 0;
    background-image: url("../Images/comic(b:w).jpg");
    background-attachment: fixed !important;
    background-size: cover;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    -webkit-animation: introfadein 15s ease-out forwards;
    animation: introfadein 15s ease-out forwards;
    -webkit-animation: introfadein 15s ease-out forwards;
    animation: introfadein 15s ease-out forwards;
}
@-webkit-keyframes introfadein {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes introfadein {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes introfadein {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
.enterButton {
    position: absolute;
    width: 10%;
    height: 10%;
    bottom: 0px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    -ms-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-animation: point 3s ease-out 10s infinite;
    animation: point 3s ease-out 10s infinite;
    -webkit-animation: point 3s ease-out forwards infinite;
    animation: point 3s ease-out forwards infinite;
}
.intro .devansh {
    max-width: 82%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.devansh .fill {
    -webkit-animation: fillfadein 10s ease-out forwards;
    animation: fillfadein 10s ease-out forwards;
    -webkit-animation: fillfadein 10s ease-out forwards;
    animation: fillfadein 10s ease-out forwards;
}
@-webkit-keyframes fillfadein {
    0% {
        fill-opacity: 0;
    }
    7% {
        fill-opacity: 0;
    }
    40% {
        fill-opacity: 0.5;
    }
    100% {
        fill-opacity: 1;
    }
}
@keyframes fillfadein {
    0% {
        fill-opacity: 0;
    }
    7% {
        fill-opacity: 0;
    }
    40% {
        fill-opacity: 0.5;
    }
    100% {
        fill-opacity: 1;
    }
}
.uw {
    max-width: 30%;
    left: 50%;
    top: 40vh;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*animation: flipin 5s ease-in forwards;*/
}

/*@keyframes flipin {*/


/*
    0% {
        transform: translate(-50%, -50%) rotatey(360deg);
    }
    50% {
        transform: translate(-50%, -50%) rotatey(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotatey(-360deg);
    }
}
@keyframes flipin {
    0% {
        transform: translate(-50%, -50%) rotatey(360deg);
    }
    50% {
        transform: translate(-50%, -50%) rotatey(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotatey(-360deg);
    }
}
@-o-keyframes flipin {
    0% {
        -o-transform: translate(-50%, -50%) rotatey(360deg);
    }
    50% {
        -o-transform: translate(-50%, -50%) rotatey(0deg);
    }
    100% {
        -o-transform: translate(-50%, -50%) rotatey(-360deg);
    }
}
@keyframes flipin {
    0% {
        transform: translate(-50%, -50%) rotatey(360deg);
    }
    50% {
        transform: translate(-50%, -50%) rotatey(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotatey(-360deg);
    }
}
*/

.enterButton .fill {
    -webkit-animation: fillfadein 10s ease-out forwards;
    animation: fillfadein 10s ease-out forwards;
    -webkit-animation: fillfadein 10s ease-out forwards;
    animation: fillfadein 10s ease-out forwards;
}
@-webkit-keyframes point {
    0% {
        -webkit-transform: translateX(50%) translateY(-30px);
        transform: translateX(50%) translateY(-30px);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(50%) translateY(10px);
        transform: translateX(50%) translateY(10px);
        opacity: 0;
    }
}
@keyframes point {
    0% {
        -webkit-transform: translateX(50%) translateY(-30px);
        transform: translateX(50%) translateY(-30px);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(50%) translateY(10px);
        transform: translateX(50%) translateY(10px);
        opacity: 0;
    }
}
.uwsign {
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    -webkit-animation: drawoutlinename1 10s ease-in forwards;
    animation: drawoutlinename1 10s ease-in forwards;
    -webkit-animation: drawoutlinename1 10s ease-in forwards;
    animation: drawoutlinename1 10s ease-in forwards;
}
@-webkit-keyframes drawoutlinename1 {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes drawoutlinename1 {
    to {
        stroke-dashoffset: 0;
    }
}
.devansh .outline {
    stroke: #2D2B2E;
    stroke-width: 9px;
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    -webkit-animation: drawoutlinename 10s ease forwards;
    animation: drawoutlinename 10s ease forwards;
    -webkit-animation: drawoutlinename 10s ease forwards;
    animation: drawoutlinename 10s ease forwards;
}
@-webkit-keyframes drawoutlinename {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes drawoutlinename {
    to {
        stroke-dashoffset: 0;
    }
}
.enterButton .outline {
    stroke: #2D2B2E;
    stroke-width: 2px;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    -webkit-animation: drawoutline 6s ease-out forwards;
    animation: drawoutline 6s ease-out forwards;
    -webkit-animation: drawoutline 6s ease-out forwards;
    animation: drawoutline 6s ease-out forwards;
    -o-animation: drawoutline 6s ease-out forwards;
}
@-webkit-keyframes drawoutline {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes drawoutline {
    to {
        stroke-dashoffset: 0;
    }
}
.shadow {
    -webkit-animation: showshadow 10s ease-out forwards;
    animation: showshadow 10s ease-out forwards;
    -webkit-animation: showshadow 10s ease-out forwards;
    animation: showshadow 10s ease-out forwards;
    -o-animation: showshadow 10s ease-out forwards;
}
@-webkit-keyframes showshadow {
    0% {
        fill-opacity: 0;
        -webkit-transform: translate(-40px, -40px);
        transform: translate(-40px, -40px);
    }
    40% {
        fill-opacity: 0;
        -webkit-transform: translate(-40px, -40px);
        transform: translate(-40px, -40px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        fill-opacity: 1;
    }
}
@keyframes showshadow {
    0% {
        fill-opacity: 0;
        -webkit-transform: translate(-40px, -40px);
        transform: translate(-40px, -40px);
    }
    40% {
        fill-opacity: 0;
        -webkit-transform: translate(-40px, -40px);
        transform: translate(-40px, -40px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        fill-opacity: 1;
    }
}
.fill {
    height: 50%;
}
#body {
    height: 100vh;
    position: relative;
}
#comingsoon {
    height: 100vh;
}
.hello {
    position: fixed;
    bottom: 0px;
}
.footer {
    width: 70%;
    background-color: RGB(28, 33, 39);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    border-top: 3px solid darkgoldenrod;
    border-right: 3px solid silver;
    border-left: 3px solid silver;
}
@-webkit-keyframes footer {
    0% {
        width: 20%;
    }
    100% {
        width: 100%;
    }
}
@keyframes footer {
    0% {
        width: 20%;
    }
    100% {
        width: 100%;
    }
}
.copyright {
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact {
    font-size: 18px;
    padding-top: 20px;
}
.footer > svg {
    position: absolute;
    height: 160px;
    left: 20px;
}
.info {
    stroke-dasharray: 70;
    stroke-dashoffset: 70;
    -webkit-animation: forward 5s ease-out forwards;
    animation: forward 5s ease-out forwards;
}
@-webkit-keyframes forward {
    0% {
        stroke-dashoffset: 70;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes forward {
    0% {
        stroke-dashoffset: 70;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
.message {
    position: absolute;
    display: inline;
    left: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent !important;
    border: none !important;
}
.message:hover {
    background-color: RGB(67, 72, 77) !important;
    color: gainsboro;
}
.footer-links {
    padding: 10px;
}
.footer-links > a {
    padding-right: 10px;
    color: gainsboro !important;
}
.footer-links > a:hover {
    color: RGB(123, 17, 19) !important;
}
.footer-back {
    position: relative;
    width: 100%;
    height: 55px;
    text-align: center;
    bottom: 10px !important;
    background-color: RGB(123, 17, 19);
    border-top: 3px solid darkgrey;
    border-bottom: 4px solid silver;
}
.tvSwingAnimation {
    -webkit-animation: tvswing 6s 1 ease-out;
    animation: tvswing 6s 1 ease-out;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
@-webkit-keyframes tvswing {
    0% {
        -webkit-transform: none;
        transform: none;
    }
    40% {
        /*forward*/
        -webkit-transform: matrix3d(1.0020597771330744, 0, 0, 0.00000316888789703765, 0.08935638753317099, 0.9654981954586173, 0, -0.00001825414996090349, 0, 0, 1, 0, 0, 0, 0, 1) translateZ(0);
        transform: matrix3d(1.0020597771330744, 0, 0, 0.00000316888789703765, 0.08935638753317099, 0.9654981954586173, 0, -0.00001825414996090349, 0, 0, 1, 0, 0, 0, 0, 1) translateZ(0);
    }
    80% {
        /*back*/
        -webkit-transform: matrix3d(1.0007011018576866, -0.0013342681358102487, 0, 0.00000093480247691528, -0.07330958385916983, 1.0101854501872227, 0, 0.00003828401477338887, 0, 0, 1, 0, 0, 0, 0, 1) translateZ(0);
        transform: matrix3d(1.0007011018576866, -0.0013342681358102487, 0, 0.00000093480247691528, -0.07330958385916983, 1.0101854501872227, 0, 0.00003828401477338887, 0, 0, 1, 0, 0, 0, 0, 1) translateZ(0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes tvswing {
    0% {
        -webkit-transform: none;
        transform: none;
    }
    40% {
        /*forward*/
        -webkit-transform: matrix3d(1.0020597771330744, 0, 0, 0.00000316888789703765, 0.08935638753317099, 0.9654981954586173, 0, -0.00001825414996090349, 0, 0, 1, 0, 0, 0, 0, 1) translateZ(0);
        transform: matrix3d(1.0020597771330744, 0, 0, 0.00000316888789703765, 0.08935638753317099, 0.9654981954586173, 0, -0.00001825414996090349, 0, 0, 1, 0, 0, 0, 0, 1) translateZ(0);
    }
    80% {
        /*back*/
        -webkit-transform: matrix3d(1.0007011018576866, -0.0013342681358102487, 0, 0.00000093480247691528, -0.07330958385916983, 1.0101854501872227, 0, 0.00003828401477338887, 0, 0, 1, 0, 0, 0, 0, 1) translateZ(0);
        transform: matrix3d(1.0007011018576866, -0.0013342681358102487, 0, 0.00000093480247691528, -0.07330958385916983, 1.0101854501872227, 0, 0.00003828401477338887, 0, 0, 1, 0, 0, 0, 0, 1) translateZ(0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}
#body svg {
    width: 55em;
}
.carouselcontain {
    display: block;
    left: 0px;
    position: absolute;
    width: 55em;
    top: 0px;
    pointer-events: auto;
    /*align to still tv*/
    -webkit-transform: matrix3d(0.7337017953626879, 0.2242330142187469, 0, 0.0001430804248441795, -0.007096610945242228, 0.5476678627924971, 0, -0.0002160394654129919, 0, 0, 1, 0, 56, 21.979156494140625, 0, 1);
    transform: matrix3d(0.7337017953626879, 0.2242330142187469, 0, 0.0001430804248441795, -0.007096610945242228, 0.5476678627924971, 0, -0.0002160394654129919, 0, 0, 1, 0, 56, 21.979156494140625, 0, 1);
    -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
}
.imageSwing {
    -webkit-animation: imageSwingAlign 6s 1 ease-out;
/*    animation: imageSwingAlign 6s 1 ease-out;*/
    -webkit-animation-play-state: paused;
/*    animation-play-state: paused;
    */}
@-webkit-keyframes imageSwingAlign {
    0% {
        /*normal*/
        -webkit-transform: matrix3d(0.7337017953626879, 0.2242330142187469, 0, 0.0001430804248441795, -0.007096610945242228, 0.5476678627924971, 0, -0.0002160394654129919, 0, 0, 1, 0, 56, 21.979156494140625, 0, 1);
        transform: matrix3d(0.7337017953626879, 0.2242330142187469, 0, 0.0001430804248441795, -0.007096610945242228, 0.5476678627924971, 0, -0.0002160394654129919, 0, 0, 1, 0, 56, 21.979156494140625, 0, 1);
        -webkit-transform-origin: 0px 0px;
        transform-origin: 0px 0px;
    }
    40% {
        /*forward*/
        -webkit-transform: matrix3d(0.7522989265577706, 0.21519785681585873, 0, 0.00013814523234461444, 0.040671290102245544, 0.5259486487149626, 0, -0.0002176929264638547, 0, 0, 1, 0, 58, 21.994789123535156, 0, 1);
        transform: matrix3d(0.7522989265577706, 0.21519785681585873, 0, 0.00013814523234461444, 0.040671290102245544, 0.5259486487149626, 0, -0.0002176929264638547, 0, 0, 1, 0, 58, 21.994789123535156, 0, 1);
        -webkit-transform-origin: 0px 0px;
        transform-origin: 0px 0px;
    }
    80% {
        /*back*/
        -webkit-transform: matrix3d(0.7196690837576389, 0.22593875231733912, 0, 0.0001434422975554939, -0.046654615296832895, 0.5533411888373422, 0, -0.00021535139027897932, 0, 0, 1, 0, 54, 22.902814865112305, 0, 1);
        transform: matrix3d(0.7196690837576389, 0.22593875231733912, 0, 0.0001434422975554939, -0.046654615296832895, 0.5533411888373422, 0, -0.00021535139027897932, 0, 0, 1, 0, 54, 22.902814865112305, 0, 1);
        -webkit-transform-origin: 0px 0px;
        transform-origin: 0px 0px;
    }
    100% {
        /*normal*/
        -webkit-transform: matrix3d(0.7337017953626879, 0.2242330142187469, 0, 0.0001430804248441795, -0.007096610945242228, 0.5476678627924971, 0, -0.0002160394654129919, 0, 0, 1, 0, 56, 21.979156494140625, 0, 1);
        transform: matrix3d(0.7337017953626879, 0.2242330142187469, 0, 0.0001430804248441795, -0.007096610945242228, 0.5476678627924971, 0, -0.0002160394654129919, 0, 0, 1, 0, 56, 21.979156494140625, 0, 1);
        -webkit-transform-origin: 0px 0px;
        transform-origin: 0px 0px;
    }
}
@keyframes imageSwingAlign {
    0% {
        /*normal*/
        transform: matrix3d(0.7337017953626879, 0.2242330142187469, 0, 0.0001430804248441795, -0.007096610945242228, 0.5476678627924971, 0, -0.0002160394654129919, 0, 0, 1, 0, 56, 21.979156494140625, 0, 1);
        transform-origin: 0px 0px;
    }
    40% {
        /*forward*/
        transform: matrix3d(0.7522989265577706, 0.21519785681585873, 0, 0.00013814523234461444, 0.040671290102245544, 0.5259486487149626, 0, -0.0002176929264638547, 0, 0, 1, 0, 58, 21.994789123535156, 0, 1);
        transform-origin: 0px 0px;
    }
    80% {
        /*back*/
        transform: matrix3d(0.7196690837576389, 0.22593875231733912, 0, 0.0001434422975554939, -0.046654615296832895, 0.5533411888373422, 0, -0.00021535139027897932, 0, 0, 1, 0, 54, 22.902814865112305, 0, 1);
        transform-origin: 0px 0px;
    }
    100% {
        /*normal*/
        transform: matrix3d(0.7337017953626879, 0.2242330142187469, 0, 0.0001430804248441795, -0.007096610945242228, 0.5476678627924971, 0, -0.0002160394654129919, 0, 0, 1, 0, 56, 21.979156494140625, 0, 1);
        transform-origin: 0px 0px;
    }
}
